*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(236, 236, 236);
  font-family: 'Rubik', sans-serif;
  color: rgb(100, 89, 89);
}
header{
  background-color: white;
  padding-top: 10px;
  padding-left: 15px;
  
}

header span{

font-size: 30px;
vertical-align: 15px;
}
/* PRIMO CONTENITORE */
.contain{
  width: 80%;
  margin:auto;
  background-color: white;
}
.main{
  height: 50px;
  margin-top: 30px;
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px;
  
}
.first-button{
  margin-top:15px ;
  margin-left: 40px;
  background-color: dodgerblue;
  border: dodgerblue;
  padding:5px;
  color: white;
  border-radius: 5px;
}
.second-button{
  background-color: rgb(255, 255, 255);
  border:1px solid lightgray;
  padding:4px;
  color: lightgray;
  border-radius: 5px;

}
/* BORDO SEPARATORE */
.line{
  border-bottom:2px solid lightgrey;

}
/* INIZIO SEZIONI */
section.head{
  padding-top: 40px;
}
section{
  padding-left: 40px;
  padding-bottom: 40px ;
}

.arrow{
 font-size: 10px;
}
.title-sect{
  display: inline-block;
}
/*caratteristiche check-cross*/
.check,.cross{
  font-size: 10px;
  border-radius: 50%;
  padding :  2px;
}
.check{
  border: 1px solid lightgreen;
  color:lightgreen;
}
.cross{
  border: 1px solid red;
  color:red;
}
/* Caratteristiche contenitori interni alle sezioni */
.second-contain{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* caratteristiche bottoni */

.button{
  color:white;
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
}
.button.blue{
  background-color: dodgerblue;

}
.button.purple{
 background-color: violet;
}
.button.green{
 background-color: green;
}
.button.orange{
  background-color: orange;
}